<div id="user-show">
    <p class="current-user">Logged in as: <%= current_user.name %></p>
    <% if @user %>
        <section id='user'>
            <div id="image-div">
                <% if @user.photo.present? %>
                    <%= image_tag url_for(@user.photo), alt: "User Image" %>
                <% else %>
                <span>No Photo</span>
                <% end %>
            </div>
            <div id="info">
                <h1>Name: <%= @user.name%></h1>
                <span>Bio:<%= @user.bio %></span><br>
                <span>Total posts: <%= @user.postscounter%></span>
            </div>
        </section>
    <% end %>
    <section id='posts'>
        <span>Posts</span>
        <ul>
            <% @posts.each_with_index do |post,index| %>
                <%= link_to({ controller: "posts", action: "show", user_id: @user.id, id: post.id }) do %>
                    <li>
                        <p>Post #<%= index + 1%></p>
                        <h3>
                            Title: <%= post.title %>
                        </h3>
                        <div>
                            <p>Comments: <%= post.commentscounter %>, Likes: <%= post.likescounter %></p>
                        </div>
                    </li>
                <% end %>
            <% end %>
        </ul>
        <div id="buttons-div">
            <%= link_to({ controller: "posts", action: "index", user_id: @user.id }) do %>
                <button>See all posts</button>
            <% end %>
            <%= link_to :back do %>
                <button>back</button>
            <% end %>
        </div>
    </section>
</div>
