<p class="current-user">Logged in as: <%= current_user.name %></p>
<section id='user'>
    <% if @user %>
        <img src=<%= @user.photo %> alt="image">
        <div>
            <h1><%= @user.name%></h1>
            <p>Number of post: <%= @user.postscounter%></p>
        </div>
    <% end %>
</section>
<section id='post'>
    <% @posts.each_with_index do |post,index| %>
        <div id="posts">
            <%= link_to({ controller: "posts", action: "show", id: post.id, user_id: @user.id }) do %>
                <li>
                    <h2>Post #<%= index + 1%></h2>
                    <h3>
                        <%= post.title %>
                    </h3>
                    <div>
                        <p>Comments: <%= post.commentscounter|| 0 %></p>
                        <p>Likes: <%= post.likescounter || 0%></p>
                    </div>
                </li>
                <% if post.commentscounter <= 0 %>
                    <li>There are no comments</li>
                <% else %>
                    <ul id='comments-container'>
                    Current Comments
                        <% post.comments.each do |comment| %>
                            <li>
                            <%= comment.text %>
                            by <%= comment.author.name %>
                            </li>
                        <% end %>
                    </ul>
                <% end %>
            <% end %>
        </div>
    <% end %>
</section>