<div id="user-show">
    <p class="current-user">Logged in as: <%= current_user.name %></p>
    <section id='user'>
        <% if @user %>
            <div id="image-div">
                <% if @user.photo.present? %>
                    <%= image_tag url_for(@user.photo), alt: "User Image" %>
                <% else %>
                    <span>No Photo</span>
                <% end %>
            </div>
           <div id="info">
                <h1>Name: <%= @user.name%></h1>
                <span>Bio:<%= @user.bio %></span><br>
                <span>Total posts: <%= @user.postscounter%></span>
            </div>
        <% end %>
    </section>
    <section id='posts'>
        <% if @user.postscounter > 0 %>
            <span>Posts:</span>
        <% end %>
        <ul>
            <% @posts.each_with_index do |post,index| %>
                <%= link_to({ controller: "posts", action: "show", id: post.id, user_id: @user.id }) do %>
                    <li>
                        <h2>Post #<%= index + 1%></h2>
                        <h3>
                            <%= post.title %>
                        </h3>
                        <div>
                            <p>Comments: <%= post.commentscounter%>, Likes: <%= post.likescounter%></p>
                        </div>
                        <% if post.commentscounter > 0 %>
                            <div id='comments-container'>
                                Current Comments <br>
                                <% post.comments.each do |comment| %>
                                    <%= comment.text %>
                                    by <%= comment.author.name %>
                                <% end %>
                            </div>
                        <% end %>
                    </li>
                <% end %>
            <% end %>
        </ul>
        <div id="buttons-div">
            <button>Pagination</button>
            <button><%= link_to 'Back', :back %></button>
        </div>
    </section>
</div>