<section id='post-container'>
    <div id='post-header'>
        <p>
            Post # <%= @post.id %> <br>
            by 
            <% if @user %>
                <%= @user.name %>
            <% end %>
        </p>
        <p>Comments: <%= @post.commentscounter %>, Likes: <%= @post.likescounter %></p>
    </div>
    <p id='post-body'>
        <%= @post.title %> <br>
        <%= @post.text %>
    </p>

    <% if @post.commentscounter <= 0%>
        <p>There are no comments</p>
    <% else %>
        <ul>
        Current Comments
            <% @post.comments.each do |comment| %>
            <li><%= comment.text %>
                by <%= comment.author.name %>
            </li>
            <% end %>
        </ul>
    <% end %>
</section>